# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------
# Jupyter
# --------------------
.ipynb_checkpoints/

# --------------------
# Data (NEVER COMMIT)
# --------------------
data/

# --------------------
# Artifacts / outputs
# --------------------
artifacts/

# --------------------
# Virtual environments
# --------------------
.venv/
venv/

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db
